<div class=contenedor>

  <div class="restaurant-info-box card">

      @if (cargandoInfo) {
          <p>Cargando información...</p>
      } @else if (!restaurant) {
          <p>No se encontró el restaurante</p>
      } @else {

      <h1 class="restaurant-title">{{ restaurant.restaurantName }}</h1>

      <div class="restaurant-details">
          <p><strong>Teléfono:</strong> {{ restaurant.phoneNumber }}</p>
          <p><strong>Dirección:</strong> {{ restaurant.address }}</p>
      </div>

      }
  </div>

  <h2 class="menu-title">Nuestro Menú</h2>

  @if (products.length ===0) {
      <p>⚠️Este restaurante aún no ha cargado productos.</p>
  }
  <div class="category-buttons">
  <button class="category-btn" (click)="selectCategory(null)">
    Todo
  </button>

  @for (category of categories; track category.id) {
    <button class="category-btn" (click)="selectCategory(category.id)">
      {{ category.name }}
    </button>
  }
</div>

  

  <div class="products-grid">

      @for (producto of filteredProducts; track producto.id) {

      <div class="card1">

          <div class="badges">
              @if (producto.featured) {
              <span class=" featured">⭐ Destacado</span>
              }
              @if (producto.discount) {
              <span class="discount">{{ producto.discount }}% OFF 🏷️</span>
              }
              @if (producto.hashappyhour) {
              <span class="happy">Happy Hour 🕓</span>
              }
              @if (producto.recommendedFor) {
              <span class=" recommended">🔥 {{ producto.recommendedFor }}</span>
              }
          </div>

          <h3 class="product-name">{{ producto.name }}</h3>

          <div class="price-section">
              @if (producto.discount > 0) {
              <span class="price-current">${{ getPrice(producto) }}</span>
              <span class="price-old">${{ producto.price }}</span>
              } @else {
              <span class="price-current">${{ producto.price }}</span>
              }

              @if (producto.hashappyhour) {
              <span class="badge promo">2x1</span>
              }
          </div>

      </div>

      }
  </div>

  <a class="button back-btn" routerLink="/restaurant-list">🔙 Volver</a>

</div>
