@use'../../../../public/styles/forms-pages.scss';
.restaurant-page {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center; 
}

.restaurant-info-box {
  width: 100%;
  max-width: 700px;
  padding: 3rem;
}

.restaurant-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-strong);
}

.menu-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-strong);
  margin: 0;
}


.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 20px 0;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-btn {
  width: 200px;        
  height: 44px;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}




.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.6rem;
  padding: 1.2rem;
}


.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.badge {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.88rem;
  color: #fff;
  font-weight: 600;
}


.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  font-size: 1.05rem;
  color: var(--text-soft);
  line-height: 1.45;
}


.price-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-current {
  font-size: 1.45rem;
  font-weight: bold;
  color: var(--text-strong);
}

.price-old {
  font-size: 1.1rem;
  color: #888;
  text-decoration: line-through;
}


.back-btn {
  max-width: 140px;      
  font-size: 0.9rem;      
  padding: 0.6rem 1rem;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
