<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BIENVENIDO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favoritos⭐</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">carrito 🛒</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            mas opción
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Happy Hour 🕓</a></li>
                            <li><a class="dropdown-item" href="#">Descuentos 🏷️</a></li>

                        </ul>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <div>
        @if(cargandoInfo){
        <p>Cargando Informacion...</p>
        } @else if(!restaurant) {
        <p>No se encontró el restaurante</p>
        } @else {
        <h1 class="restaurant-header">{{restaurant.restaurantName}} </h1>

        <div class="restaurant-info">
            <p>Teléfono:{{restaurant.phoneNumber}}</p>
            <p>Dirección:{{restaurant.address}}</p>
        </div>

        }


        <p class="menu-title">Nuestro Menú</p>
        @if (products().length===0) {
        <p>Este restaurant aún no ha cargado productos en se su menú</p>
        }
        @else{
        @for (producto of getFilteredProducts(); track producto.id) {
        <div class="product-item">
            @if(producto. featured){
            <span class="featured">⭐ Descatado</span>
            }
            <strong>{{producto.name}}</strong>
            @if (producto.discount) {
            <span class="discount">{{producto.discount}}%off🏷️</span>
            }
            @if (producto.hasHappyHour) {
            <span class="happy-hour">Happy Hour🕓</span>
            }

            <h4>{{ producto.name }}</h4>
            <p class="description">{{ producto.description }}</p>
            @if (producto.recommendedFor) {
            <span> 🔥{{ producto.recommendedFor }}</span>
            }

            <div class="price-inf">
                @if (producto.discount >0) {
                <span class="pricecurrent"> ${{ getPrice(producto)}}</span>
                }
                @else {
                    <span class="old-price">${{producto.price}}</span>
                }

                @if (producto.hasHappyHour) {
                <span class="promo"> 2X1</span>
                }

            </div>

        </div>


        }}



        <div class="back-button">
            <a routerLink="/">🔙Volver</a>
        </div>

    </div>
</main>