
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}


.restaurant-header h1 {
    font-size: 45px;
    font-weight: 800;
    color: #222;
    margin-bottom: 10px;
}


.restaurant-info p {
    font-size: 20px;
    color: #555;
    margin: 4px 0;
}


.menu-title {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}


.product-item {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    margin: 25px 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.product-item h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 8px;
}


.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}


.featured {
    display: inline-block;
    font-weight: bold;
    color: #e8a002;
    margin-right: 10px;
}

.discount {
    display: inline-block;
    color: #c62828;
    font-weight: bold;
    margin-right: 10px;
}

.happy-hour {
    display: inline-block;
    color: #2e7d32;
    font-weight: bold;
    margin-right: 10px;
}


.back-button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2b6c2b;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(43, 108, 176, 03);
    transition: transform 0.2s ease, box-shadow 0.2s ease;


}
.back-button a:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(43,108,176,03);

}
.price-inf {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}
.pricecurrent {
    font-size: 1.6rem;
    font-weight: bold;
    color: #222;
}
.pricecurrent {
    font-size: 1.6rem;
    font-weight: bold;
    color: #222;
}
.promo {
    display: inline-block;
    background-color: #ff3b3b;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
}


@media (max-width: 600px) {
  main {
    max-width: 95%;
  }

  .restaurant-header h1 {
    font-size: 38px;
  }

  .menu-title {
    font-size: 28px;
  }

  .product-item {
    padding: 18px;
  }

  .product-item h4 {
    font-size: 22px;
  }
  .price-inf {
        gap: 2px;
    }

    .pricecurrent {
        font-size: 1.3rem;
    }

    .old-price {
        font-size: 1rem;
    }

    .promo {
        font-size: 0.75rem;
        padding: 3px 6px;
    }
}

