<div class="contenedor">
    <h1>Editar mi cuenta</h1>


    <div class="card">
        <form (ngSubmit)="handleFormSubmission(editUserDataForm)" #editUserDataForm="ngForm">
            <div>
                <label for="restaurantName">Nombre de restaurante</label>
                <input id="restaurantName" name="restaurantName" type="text" ngModel="{{userOriginal?.restaurantName}}"
                    #restaurantName="ngModel" required="true" >
                @if (restaurantName.invalid && !restaurantName.pristine) {
                <p>Debe colocar un nombre.</p>
                }
            </div>
            <div>
                <label for="firstName">Nombre</label>
                <input id="firstName" name="firstName" type="text" ngModel="{{userOriginal?.firstName}}"
                    #firstName="ngModel" required="true" autocomplete="name">
                @if (firstName.invalid && !firstName.pristine) {
                <p>Debe colocar un nombre.</p>
                }
            </div>
            <div>
                <label for="lastName">Apellido</label>
                <input id="lastName" name="lastName" type="text" ngModel="{{userOriginal?.lastName}}"
                    #lastName="ngModel" required="true" autocomplete="lastname">
                @if (lastName.invalid && !lastName.pristine) {
                <p>Debe colocar un apellido.</p>
                }
            </div>
            <div>
                <label for="address">Dirección</label>
                <input id="address" name="address" type="text" ngModel="{{userOriginal?.address}}" #address="ngModel"
                    required="true" >
                @if (address.invalid && !address.pristine) {
                <p>Debe colocar una dirección.</p>
                }
            </div>
            <div>
                <label for="phoneNumber">Teléfono</label>
                <input id="phoneNumber" name="phoneNumber" type="text" ngModel="{{userOriginal?.phoneNumber}}"
                    #phoneNumber="ngModel" required="true">
                @if (phoneNumber.invalid && !phoneNumber.pristine) {
                <p>Debe colocar un número de teléfono</p>
                }
            </div>

            <div>
                <label for="password">contraseña</label>
                <input id="password" name="password" type="text" ngModel="{{userOriginal?.password}}"
                    #password="ngModel" required="true">
                @if (password.invalid && !password.pristine) {
                <p>Debe colocar una contraseña de al menos 4 caracteres.</p>
                }
            </div>

            <div>
                <label for="password2"> Repetir la contraseña</label>
                <input id="password2" name="password2" type="text" ngModel #password2="ngModel" required="true">
                @if ( password.value && password2.value && password.value !== password2.value) {
                <p> las contraseñas no coinciden</p>

                }
            </div>

            <button [disabled]="editUserDataForm.invalid|| password.value !== password2.value">Guardar cambios</button>
            @if (error) {
            <p>{{error}}</p>
            }
            @if (success) {
            <p>Cuenta actualizado correctamente</p>
            }

        </form>
    </div>
</div>