<div class="contenedor">
    @if (idCategory()) {
    <h2>✏️Editar Categoría</h2>
    }
    @else {
    <h2>➕Nueva Categoría</h2>
    }
    <div class="card">
        <form (ngSubmit)="handleFormSubmission(newCategoryForm)" #newCategoryForm="ngForm">
            <div>
                <input id="name" type="text" name="name" ngModel="{{categoryOrignal?.name}}" #name="ngModel"
                    required="true">
                @if (name.dirty && name.invalid) {
                <p class="error">El nombre es obligatorio y no puede ser una sola letra</p>
                }
            </div>

            @if (idCategory()) {

            <button [disabled]="newCategoryForm.invalid || isloading" class="button">Editar</button>
            } @else {
            <button [disabled]="newCategoryForm.invalid || isloading" class="button">Crear</button>
            }

            @if(isloading){
            <app-spinner></app-spinner>
            }
        </form>
    </div>

</div>