<div class="contenedor">
    @if (idCategory()) {
    <h2>✏️Editar Categoría</h2>
    }
    @else {
    <h2>📂Nueva Categoría</h2>
    }
    <div class="card">
        <div>
            <form (ngSubmit)="handleFormSubmission(newCategoryForm)" #newCategoryForm="ngForm">
                <input id="name" type="text" name="name" placeholder="Nombre de la categoría" ngModel #name="ngModel"
                    required="true">
                @if (name.dirty && name.invalid) {
                <p>El nombre es obligatorio y no puede ser una sola letra</p>
                }


                @if (idCategory()) {
                <button [disabled]="newCategoryForm.invalid || isloading">Editar</button>
                } @else {
                <button [disabled]=" newCategoryForm.invalid || isloading">Crear</button>
                }
            </form>
            @if (isloading) {
            <app-spinner></app-spinner>
            }
        </div>
    </div>

</div>