@use'./../../../public/styles/forms-pages.scss';

.contenedor{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-self:center;
text-align: center;
gap: 2.5rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    135deg,
    #FFF7E8 0%,
    #FDEFD7 25%,
    #F7CFA6 55%,
    #F4A88B 85%
  ) ;



}
 
h1{
    font-size: 3.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    margin: 0;
    letter-spacing: -0.02em;
}

a{
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}
a.hover{
    text-decoration: underline;
}

p{
    font-size: 1.25rem;
    color: #444;
}
span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    color: #333;
}
span a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2b6c2b;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(43 ,108 ,176,03);
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}

span a:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(43,108,176,03);

}

mat-icon{
    font-size: 1.7rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }
    p, span {
        font-size: 1.1rem;
    }
    span a {
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
    }
}
