<div class="contenedor">
    @if (idproduct()) {
    <h2>✏️Editar Producto</h2>
    }
    @else {
    <h2>➕Nueva Producto</h2>
    }

    <div class="card">
        <form (ngSubmit)="handleFormsubmission(newProductForm)" #newProductForm="ngForm">
           <div>
            <label for="name">Nombre del producto*</label>
            <input id="name" name="name" type="text" ngModel requiered ="true" minlength="2" #name="ngModel">
            @if (name.dirty && name.invalid) {
                <p class="error"> El nombre del producto es obligatorio</p>
            }
        </div>
        <div>
            <label for="price">Precio*</label>
            <input id="price" name="price" type="text" ngModel requiered ="true" minlength="2" #name="ngModel">
        </div>
        <div>
            <label for="description">Descripción</label>
            <input type="text" id="descripcion"  ngModel name="description">
        </div>
        <div class="input-wrapper">
             <label for="descuento">Descuento</label>
             <input type="text" id="descuento"  ngModel name="descuento">
             <span class="percent-symbol">%</span>
        </div>

        <div>
            <label for="hasHappyHour">Happy hour</label>
            <input type="checkbox" id="happyhour"  ngModel name="happyhour">          
        </div>
        <div>
            <label for="featured">Producto destacado</label>
            <input type="checkbox" name="featured"  ngModel id="featured">
        </div>
        <div>
            <label for="categoria">Categoría*</label>
            <select name="categoryId" id="categoryId" required ngModel #categoryId="ngModel">
                    @for (category of this.categoryService.categories; track $index) {
                    <option [value]="category.id">{{ category.name }}</option>
                    }
            </select>          
          </div>
            @if (idproduct()) {
            <button class="btn-body" [disabled]="newProductForm.invalid || isloading">Editar</button>
            } @else {
            <button class="btn-body" [disabled]="newProductForm.invalid || isloading">Crear</button>
            }

            @if (isloading) {
            <app-spinner></app-spinner>
            }
        </form>

    </div>
</div>