<div class="contenedor">
    @if (idproduct()) {
    <h2>✏️Editar Producto</h2>
    }
    @else {
    <h2>➕Nueva Producto</h2>
    }
    <div class="card">
    <form (ngSubmit)="handleFormsubmission(newProductForm)" #newProductForm="ngForm">
        <div  >
            <input id="name" type="text" name="name" placeholder="Nombre del Producto"
                ngModel="{{productoOriginal?.name}}" #name="ngModel" required="true" autocomplete="name">
            @if (name.dirty && name.invalid) {
            <p class="error">El nombre es obligatorio y no puede ser una sola letra</p>
            }
        </div>
        <div >
            <input id="description" type="text" name="description" placeholder="Descripción del Producto"
                ngModel="{{productoOriginal?.description}}" #description="ngModel" required="true" autocomplete="description">
            @if (description.dirty && description.invalid) {
            <p class="error">La descripción del producto es obligatoria</p>
            }
        </div>
        <div >
            <input id="price" type="text" name="price" placeholder="Precio" ngModel="{{productoOriginal?.price}}"
                #price="ngModel" required="true" autocomplete="price">
            @if (price.dirty && price.invalid) {
            <p class="error">Introduzca el precio del producto</p>
            }
        </div>
        <div >
            <label for="IsFeatured">¿Desea destacar su producto?</label>
            <input id="IsFeatured" type="checkbox" name="featured" ngModel #IsFeatured="ngModel" autocomplete="Isfeatured">
        </div>
        <div >
            <input id="recommendedFor" type="text" name="recommendedFor" placeholder="Cantidad de comensales: "
                ngModel="{{productoOriginal?.recommendedFor}}" #recommendedFor="ngModel" required="true" autocomplete="recommendedFor">
        </div>
        <div >
            <input id="discount" type="text" name="discount" placeholder="Descuento del producto"
                ngModel="{{productoOriginal?.discount}}" #discount="ngModel" autocomplete="discount">
        </div>
        <div >
            <label for="hasHappyHour">¿Su producto tiene Happy Hour?</label>
            <input id="hasHappyHour" type="checkbox" name="hasHappyHour" placeholder="" ngModel #hasHappyHour="ngModel" autocomplete="hasHappyHour">
        </div>
        <div >
            <label for="categoryId">Categoría</label>
            <select name="categoryId" id="categoryId" required ngModel="{{productoOriginal?.categoryId}}"
                #categoryId="ngModel" autocomplete="categoryId">
                @for (category of this.categoryService.categories; track $index) {
                <option [value]="category.id">{{ category.name }}</option>
                }
            </select>
        </div>


        @if (idproduct()) {
        <button class="btn-body" [disabled]="newProductForm.invalid || isloading">Editar</button>
        } @else {
        <button class="btn-body" [disabled]="newProductForm.invalid || isloading">Crear</button>
        }

        @if (isloading) {
        <app-spinner></app-spinner>
        }
    </form>
    </div>
</div>